#panel {
    margin: 10px 20px;
}

#board {
    border: 10px inset gold;
}

.counter {
    font-size: 36px;
    background-color: black;
    color: red;
}

.face {
    border: 3px outset white;
    background-image: url("../../../assets/epicface.jpg");
    background-size: 100% 100%;
}

.field-row {
    flex-basis: 6%;
}

.field-place {
    flex-basis: 6%;
}
