.place {
    padding-top: 100%;
}

span {
    color: blue;
    height: 100%;
    width: 100%;
}

.hidden-mode {
    border: 3px outset black;
    background-image: none;
    background-color: #bbbbbb;
}

.visible-mode {
    font-size: 15px;
    border-style: solid;
    border-color: #e6e6e6;
}

.flagged-mode {
    background-color: green;
}

.bomb {
    background-image: url("../../../assets/bomb.jpg");
    background-size: 100% 100%;
    border-style: solid;
}
